
@{
    ViewBag.Title = "Hakkinda";
    //Layout = "~/Views/Shared/_LayoutKullanici.cshtml";
}

@* _home scss den banner areayı sil yukardakinin aynısın diğer safların css ekle *@
<div style=" background: url(/img/hakkinda.png) no-repeat top center;   background-size: cover;min-height: 312px;  margin-top: 108px;">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-sm-12">
                <h1 class="text-white">
                    Hakkında
                </h1>
                <p>
                    Not bankası hakkında bilgilendirme
                </p>
            </div>
        </div>
    </div>
</div>

<section class="faculty-area section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h1>Not Bankası.com</h1>
                    <p>
                        Bir şu kuruluşudur.
                    </p>
                </div>
            </div>
        </div>
        @* back raound değişecek aşaığıdaki olacak _variables.scss *@
        <div class="whole-wrap">
            <div class="container">
                <div class="section-top-border">
                    <h3 class="mb-30">Nedir</h3>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/img/nedir.png" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-9 mt-sm-20">
                            <p style="text-align:justify">
                                Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer
                                money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks
                                such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being
                                chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new
                                online casinos started taking root. These began to operate under a different business umbrella, and by doing that,
                                rendered the transfer of money to and from them legal.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="section-top-border text-right">
                    <h3 class="mb-30">Amaç</h3>
                    <div class="row">
                        <div class="col-md-9">
                            <p style="text-align:justify">
                                Over time, even the most sophisticated, memory packed computer can begin to run slow if we don’t
                                do something to prevent it. The reason why has less to do with how computers are made and how they age and more to
                                do with the way we use them. You see, all of the daily tasks that we do on our PC from running programs to downloading
                                and deleting software can make our computer sluggish. To keep this from happening, you need to understand the reasons
                                why your PC is getting slower and do something to keep your PC running at its best. You can do this through regular
                                maintenance and PC performance optimization programs
                            </p>
                        </div>
                        <div class="col-md-3">
                            <img src="~/img/amac.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>



