
@{
    ViewBag.Title = "Hata";
    //Layout = "~/Views/Shared/_LayoutKullanici.cshtml";
}
@section head{
<head>
    <link href="~/Css/sb-admin-2.min.css" rel="stylesheet" />
</head>

}




<div id="content" style="margin-top:250px;margin-bottom:180px;">
    <!-- Topbar -->
    <!-- End of Topbar -->
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">Sayfa Bulunamadı</p>
            <p class="text-gray-500 mb-0">Ooops birşeyler yanlış gitti...</p>
            <a href="index.html">&larr; Anasayfaya dön</a>
        </div>
    </div>
    <!-- /.container-fluid -->
</div><!-- Content Wrapper -->
