
@{
    ViewBag.Title = "BizKimiz";
    //Layout = "~/Views/Shared/_LayoutKullanici.cshtml";
}


<div style=" background: url(/img/bizkimiz.png) no-repeat top center;background-size: cover;min-height: 312px;  margin-top: 108px;">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Biz Kimiz ?
                </h1>
                <p>
                    In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of
                    the space telescope.
                </p>
            </div>
        </div>
    </div>
</div>

<section class="faculty-area section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h1>Takım Arkadaşları</h1>
                    <p>
                        Proje emeği geçen ve yönetiminde bizzat bulunan arkadaşlar
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
                <div class="thumb d-flex justify-content-center">
                    <img class="img-fluid" src="~/img/AliCakir.jpg" alt="">
                </div>
                <div class="meta-text text-center">
                    <h4>Ali Çakır</h4>
                    <p class="designation">Front end Developer</p>
                    <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the difference in price.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
                <div class="thumb d-flex justify-content-center">
                    <img class="img-fluid" src="~/img/user.jpg" alt="">
                </div>
                <div class="meta-text text-center">
                    <h4>Melih Kafa</h4>
                    <p class="designation">Back End Developer</p>
                    <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the difference in price.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
                <div class="thumb d-flex justify-content-center">
                    <img class="img-fluid" src="~/img/user.jpg" alt="">
                </div>
                <div class="meta-text text-center">
                    <h4>Nursebil Karataş</h4>
                    <p class="designation">Data Manegement</p>
                    <div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".7s">
                        <p>
                            If you are looking at blank cassettes on the web, you may be very confused at the difference in price.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



